html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.contentWidth {
    width: percentage(2/3);
    margin: auto;
    text-align: center;
    color: $grey1;
    border: solid 2px $grey2;
    float: right;
}

body {
    background: $color-11;
}
ul.menu {
    width: percentage(1/3);
    float: left;
    list-style: none;
    padding: 30px;
}
.testing {
    @extend .contentWidth;
    background: $color-12;
    font-size: 2em;
    margin-top: 100px;
}
footer {
    background: $color-13;
    @extend .contentWidth;
    border-top: none;
}
