.menu {
    li{
        &:nth-child(1){
            background: $color-11;
        }
        &:nth-child(2){
            background: $color-12;
        }
        &:nth-child(3){
            background: $color-13;
        }
        &:nth-child(4){
            background: $color-14;
        }
        &:nth-child(5){
            background: $color-15;
            margin-bottom: 10px;
        }

        &:nth-child(6){
            background: $color-21;
        }
        &:nth-child(7){
            background: $color-22;
        }
        &:nth-child(8){
            background: $color-23;
        }
        &:nth-child(9){
            background: $color-24;
        }
        &:nth-child(10){
            background: $color-25;
            margin-bottom: 10px;
        }
        
        &:nth-child(11){
            background: $color-31;
        }
        &:nth-child(12){
            background: $color-32;
        }
        &:nth-child(13){
            background: $color-33;
        }
        &:nth-child(14){
            background: $color-34;
        }
        &:nth-child(15){
            background: $color-35;
            margin-bottom: 10px;
        }
        
        &:nth-child(16){
            background: $color-41;
        }
        &:nth-child(17){
            background: $color-42;
        }
        &:nth-child(18){
            background: $color-43;
        }
        &:nth-child(19){
            background: $color-44;
        }
        &:nth-child(20){
            background: $color-45;
        }

    }
}
